ion-title{
    text-align: center;
}
ion-button{
    text-transform: none;
    
}
ion-img{
    width: 70%;  
    margin: 0 auto;
    max-width: 500px;
}
p{
    margin: 0px;
    margin-bottom: .25%;
    font-size: calc(15px + 0.390625vw);
}
