<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/SouthHillsWeb.jpg">
      <h1>Rescources for Current Students</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list lines="none">
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://ruby.southhills.edu/')">Student Email</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://portal.southhills.edu/')">Student Portal</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://canvas.southhills.edu/login/ldap')">Canvas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://courseweb.southhills.edu/login/index.php')">Course Web</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.southhills.edu/virtuallibrary/')">Virtual Library & LIRN</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://internnet.southhills.edu/')">InternNet</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.thestudentbookstore.com/adoption-search')">Order Textbooks @ TheStudentBookstore.com</ion-button>
      </ion-item>
      <ion-item>
        <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.southhills.edu/ymca/')">State College YMCA Release Form</ion-button>
      </ion-item>
    </ion-list>
</ion-content>