<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tools</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-list lines="none">

    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://ruby.southhills.edu/')">Student Email</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://portal.southhills.edu/')">Student Portal</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://canvas.southhills.edu/login/ldap')">Canvas</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://courseweb.southhills.edu/login/index.php')">Course Web</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.southhills.edu/virtuallibrary/')">Virtual Library & LIRN</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://internnet.southhills.edu/')">InternNet</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.thestudentbookstore.com/adoption-search')">Order Textbooks @ StudentBookstore</ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" (click)="openLinkInSystemBrowser('https://www.southhills.edu/ymca/')">State College YMCA Release Form</ion-button>
    </ion-item>
  </ion-list>

</ion-content>