<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/SouthHillsWeb.jpg">
      <h1>Rescources for Current Students</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/faculty/')">Faculty Directory</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/staff/')">Staff Directory</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/about/administrative-staff/#academicaffairs')">Contact Academic Affairs</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/about/administrative-staff/#financialaid')">Contact Financial Aid</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/about/administrative-staff/#bursar')">Contact the Bursar's Office</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/about/administrative-staff/#studentservices')">Contact Student & Alumni Services</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openLinkInSystemBrowser('https://www.southhills.edu/about/administrative-staff/#careerservices')">Contact Career Services</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
